<!DOCTYPE html>
<html lang="en">
<body class="d-flex flex-row bg-light" style="height: 100vh">
    <nav class="d-flex flex-column h-100">
        @Html.Partial("_Sidebar")
    </nav>
        <main role="main" class="w-100 h-100">
            @RenderBody()
        </main>
</body>


<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
