@{
    ViewData["Title"] = "Home Page";
}
@model List<PROG5_NinjaManager.Ninja>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h1>List of Ninjas</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Ninja Name</th>
            <th>Skill Level</th>
            <th>Weapons</th>
        </tr>
        </thead>
        <tbody>
        
        <tr>
            @(EquipmentType.Hand == EquipmentType.Head)
        </tr>
        }
        </tbody>
    </table>

</div>
