@model IEnumerable<Ninja>
@{
    ViewData["Title"] = "Ninja List";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="page-header">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 bg-dark bg-opacity-10 p-2 rounded-3">
                <li class="breadcrumb-item mb-0 active" aria-current="page">Ninja List</li>
            </ol>
        </nav>

        <div>
            <a asp-action="CreateNinja" class="btn btn-primary">Create Ninja</a>
        </div>
    </div>
</div>

<div class="border-top"></div>

<div class="container my-4">
    <div class="d-flex justify-content-between pb-3">
        <h1 class="fs-3 fw-bold">Ninja Overview</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>🪙 Gold</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ninja in Model)
                {
                    <tr>
                        <td>@ninja.Name</td>
                        <td>@ninja.Gold</td>
                        <td class="d-flex flex-row">
                            <div class="text-start w-50">
                                <a asp-action="NinjaView" asp-route-ninjaName="@ninja.Name" class="btn btn-primary btn-sm">Inventory</a>
                                <a asp-action="EditNinja" asp-route-ninjaName="@ninja.Name" class="btn btn-secondary btn-sm">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>